@import url(./index-partials/menu.css);
@import url(./index-partials/navbar.css);
@import url(./index-partials/freelance.css);
@import url(./index-partials/footer.css);

:root {
  --Orange: #f06023;
  --Orange2: #C5420A;
  --Black: #161717;
  --Black2: #222222;
  --White: #ffffff;
  --Gray: #8b8b8b;
  --Padding: 0 1.5rem;
  --Spacing: 0.3rem;
  --Border: 2rem;
  --Tittle: 6rem;
  --SubTittle: 5rem;
  --Icons: 3rem;
  --Description: 2.5rem;
  --Text: 1.5rem;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway", cursive;
  font-size: 10px;
  color: var(--White);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--Black);
  overflow-x: hidden;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.Stop-Scrolling {
  overflow: hidden;
}
.Button-Top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 5rem;
  height: 5rem;
  background: var(--Orange);
  opacity: 0;
  transition: 0.5s;
  z-index: 999;
}
.Icon-Top {
  position: absolute;
  top: calc(50% - 0.5rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border-top: 3px solid var(--White);
  border-left: 3px solid var(--White);
  transform: rotate(45deg);
}
.Button-Top-Show {
  opacity: 1;
}
/* INICIA CSS DEL WELCOME */
.Welcome {
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, .7)),
      to(rgba(0, 0, 0, .7))
    ),
    url(../img/BG.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url(../img/BG.jpg);
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)),
    url(../img/BG.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.5rem;
  padding: var(--Padding);
}
.Welcome-PremierSolutions {
  font-size: var(--Text);
  color: var(--Orange);
  letter-spacing: var(--Spacing);
  text-transform: uppercase;
  font-weight: bold;
}
.Welcome-Name {
  font-size: var(--Tittle);
  text-transform: uppercase;
}
.Welcome-Presentation {
  font-size: var(--Text);
  letter-spacing: var(--Spacing);
}
.Button-Down {
  position: absolute;
  bottom: 5rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  border-right: 3px solid var(--White);
  border-bottom: 3px solid var(--White);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* TERMINA CSS DEL WELCOME */

/* INICIA CSS DE PRESENTATION */
.AboutUs-Main {
  width: 100%;
  height: auto;
  background: var(--White);
}
.AboutUs {
  position: relative;
  width: 100%;
  min-height: 500px;
  height: auto;
  background: var(--White);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5rem;
  padding: var(--Padding);
}
.AboutUs-Title {
  font-size: var(--Text);
  color: var(--Orange);
  letter-spacing: var(--Spacing);
  font-weight: bold;
}
.AboutUs-Text {
  font-size: var(--Description);
  color: var(--Black);
}
.Presentation-Button {
  position: relative;
  font-size: var(--Text);
  color: var(--Black);
  letter-spacing: var(--Spacing);
}
.Presentation-Button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  width: 30%;
  height: 1px;
  background: var(--Black);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.Presentation-Button::before {
  content: "";
  position: absolute;
  top: calc(50% - 2.5px);
  right: -50%;
  width: 5px;
  height: 5px;
  border: none;
  border-right: 1px solid var(--Black);
  border-bottom: 1px solid var(--Black);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.Presentation-Button:hover.Presentation-Button::after {
  width: 150%;
  background: var(--Orange);
}
.Presentation-Button:hover.Presentation-Button::before {
  border-right: 1px solid var(--Orange);
  border-bottom: 1px solid var(--Orange);
}
/* TERMINAR CSS DE PRESENTATION */

/* EMPIEZA CSS DE SERVICES */

.Services-Main {
  width: 100%;
  height: auto;
}
.Services {
  position: relative;
  width: 100%;
  min-height: 500px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "Services-Presentation Services-Presentation"
    "Services-Construction Services-Construction"
    "Services-1 Services-1"
    "Services1-Button-Details Services1-Button-Details"
    "Services-Industrial Services-Industrial"
    "Services-2 Services-2"
    "Services2-Button-Details Services2-Button-Details"
    "Services-Cleaning Services-Cleaning"
    "Services-3 Services-3"
    "Services3-Button-Details Services3-Button-Details"
    ;
  padding: 4rem 1.5rem;
  gap: 1rem;
}
.Services-Presentation{
  grid-area: Services-Presentation;
  display: flex;
  flex-direction: column;
}
.Services-Title {
  font-size: var(--Text);
  color: var(--Orange);
  letter-spacing: var(--Spacing);
  font-weight: bold;
}
.Services-Subtitle{
  font-size: var(--Description);
  color: var(--White);
}
.Services-Construction, .Services-Industrial, .Services-Cleaning{
  font-size: var(--Text);
  color: var(--Orange);
  letter-spacing: var(--Spacing);
  display: flex;
  padding-top: 4rem;
  font-weight: bold;
}
.Services-Construction{
  grid-area: Services-Construction;
}
.Services-Industrial{
  grid-area: Services-Industrial;
}
.Services-Cleaning{
  grid-area: Services-Cleaning;
}
.Services-List{
  height: 25rem;
  /* gap: 2.5rem; */
  padding: var(--Padding);
  background: var(--Black2);
}
.Services-Icons{
  font-size: calc(var(--Icons) * 3) !important;
}
.Services-List-Name{
  font-size: var(--Border);
  text-align: center;
}
.Services-1{
  height: auto;
  grid-area: Services-1;
}
.Services-1-Name{
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.Services-1-Details{
  color: var(--Black2);
  font-size: 0;
  transition: all .2s;
}
.Services-1.active .Services-1-Details{
  padding: 1.5rem 0;
  color: var(--White);
  font-size: var(--Border);
}
.Services1-Button-Details, .Services2-Button-Details, .Services3-Button-Details{
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.Services1-Button-Details{
  grid-area: Services1-Button-Details;
}
.Services2-Button-Details{
  grid-area: Services2-Button-Details;
}
.Services3-Button-Details{
  grid-area: Services3-Button-Details;
}
.Button-Details{
  border: none;
  font-size: var(--Text);
  padding: 1.5rem 3rem;
  background: var(--Orange);
  cursor: pointer;
  transition: .5s all;
}
.Button-Details.active{
  background: var(--White);
  color: var(--Orange);
}
.Services-2{
  grid-area: Services-2;
  display: flex;
}
.Services-2-Name{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  gap: 1rem;
}
.Services-2-Details{
  width: 0;
  min-height: 25rem;
  height: auto;
  color: var(--White);
  font-size: var(--Border);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Services-2.active .Services-2-Name{
  min-width: 30%;
}
.Services-2.active .Services-2-Details{
  padding: 1.5rem;
  min-width: 70%;
}
.Services-2.active{
  height: auto;
}
.Services-3{
  grid-area: Services-3;
  /* height: 25rem; */
  position: relative;
  padding: 0;
  transition: all .5s;
  overflow: hidden; 
}
.Services-3-Name{
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: all .5s;
}
.Services-3-Details{
  position: absolute;
  top: 25rem;
  width: 100%;
  min-height: 25rem;
  font-size: var(--Border);
  display: flex;
  align-items: center;
  /* background: var(--Black2); */
  padding: 1.5rem;
  transition: all .5s;
}
.Services-3.active .Services-3-Name{
  top: -25rem;
}
.Services-3.active .Services-3-Details{
  top: 0;
}

/* TERMINAR CSS DE SERVICES */

/* INICIA CSS DE TEAM */
.Team-Main {
  width: 100%;
  height: auto;
  background: var(--Orange);
}
.Team {
  position: relative;
  width: 100%;
  height: 50rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "Team-Tittle Team-Tittle Team-Tittle"
    "Member-1 Member-2 Member-3";
  padding: 4rem 1.5rem;
  gap: 1rem;
}
.Team-Tittle {
  grid-area: Team-Tittle;
  height: 2.5rem;
  font-size: var(--Text);
  color: var(--Black);
  letter-spacing: var(--Spacing);
  font-weight: bold;
}
.Team-Member{
  height: 47.5rem auto;
  background: var(--Orange2);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:"Team-Picture Team-Picture"
  "Team-Rol Team-Networks";
  padding: 3rem 1.5rem;
  gap: 1rem;
}
.Member-1{
  grid-area: Member-1;
} 
.Member-2{
  grid-area: Member-2;
}
.Member-3{
  grid-area: Member-3;
}
.Team-Picture{
  grid-area: Team-Picture;
  width: 100%;
  height: 35.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Member-Picture{
  width: 65%;
  height: 65%;
  border-radius: 50%;
}
.Team-Rol{
  grid-area: Team-Rol;
  height: auto;
}
.Member-Name{
  font-size: calc(var(--Text) + .7rem);
  padding-bottom: 1rem;
}
.Team-Networks{
  grid-area: Team-Networks;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Icon-Network{
  font-size: var(--Icons);
  padding: 1rem;
  border-radius: 50%;
}
.Member-Linkedin{
  color: #0066c8;
  background: var(--White);
}
.Member-Whatsapp{
  background: #1bd741;
}
.Member-Twitter{
  color: #03a9f4;
  background: var(--White);
}
.Mail-Main {
  width: 100%;
  height: auto;
  background: var(--White);
}
.Mail{
  width: 100%;
  min-height: 50rem;
  /* height: auto; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "Mail-Intro Mail-Form";
  padding: 4rem 1.5rem;
  gap: 1rem;
}
.Mail-Intro{
  grid-area: Mail-Intro;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Mail-Title{
  grid-area: Mail-Intro;
  font-size: calc(var(--Tittle) - 1.5rem);
  color: var(--Black);
}
.Mail-Subtitle{
  grid-area: Mail-Form;
  font-size: var(--Border);
  padding-top: 2rem;
  color: var(--Black);
}
.Mail-Form{
  grid-area: Mail-Form;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "Mail-Name Mail-LastName"
  "Mail-Email Mail-Phone"
  "Mail-Comment Mail-Comment"
  "Mail-Send Mail-Send";
  gap: 2rem;
}
.Mail-Inputs{
  width: 100%;
  height: 5rem;
  border: none;
  outline: none;
  font-size: var(--Text);
  border-bottom: 1px solid var(--Black);
  background: none;
  color: var(--Black);
  font-weight: bold;
}
.Mail-Inputs::placeholder{
  color: var(--Black);
  font-weight: bold;
}
.Mail-Name{
  grid-area: Mail-Name;
}
.Mail-LastName{
  grid-area: Mail-LastName;
}
.Mail-Email{
  grid-area: Mail-Email;
}
.Mail-Phone{
  grid-area: Mail-Phone;
}
.Mail-Comment{
  grid-area: Mail-Comment;
}
.Mail-Send{
  grid-area: Mail-Send;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
}
.Mail-Button-Send{
  padding: 1.5rem 3rem;
  border: none;
  background: var(--Orange);
  gap: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: .5s all;
}
.Mail-Button-Send:hover{
  background: var(--White);
  border: 1px solid var(--Orange);
}
.Mail-Button-Send p{
  font-size: var(--Text); 
}
.Mail-Button-Send:hover p, .Mail-Button-Send:hover span{
  color: var(--Orange);
}