@import url(./index-partials/menu.css);
@import url(./index-partials/navbar.css);
@import url(./index-partials/slogan.css);
@import url(./index-partials/footer.css);
@import url(./index-partials/welcome.css);
@import url(./index-partials/services.css);
@import url(./index-partials/about.css);
@import url(./index-partials/team.css);
@import url(./index-partials/mail.css);
@import url(./index-partials/theme.css);
@import url(./index-partials/alerts.css);
@import url(./index-partials/clients.css);

:root {
  --MainColor: #1f6a5a;
  --SecundaryColor: #30785e;
  --Black: #161717;
  --Black2: #222222;
  --White: #FCFCFC;
  --White2: #e8e8e8;
  --Gray: #8b8b8b;
  --Padding: 0 1.5rem;
  --Spacing: 0.3rem;
  --Border: 2rem;
  --Tittle: 6rem;
  --SubTittle: 5rem;
  --Icons: 3rem;
  --Description: 2.5rem;
  --Text: 1.5rem;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Raleway", cursive;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 10px;
  color: var(--White);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: var(--White);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.Stop-Scrolling {
  overflow: hidden;
}
.Button-Top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 5rem;
  height: 5rem;
  /* background: var(--Orange); */
  background:linear-gradient(45deg, var(--MainColor) 0%, var(--SecundaryColor) 100%);
  opacity: 0;
  transition: 0.5s;
  z-index: 999;
}
.Icon-Top {
  position: absolute;
  transition: .5s;
  top: calc(50% - 0.5rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border-top: 3px solid var(--White);
  border-left: 3px solid var(--White);
  transform: rotate(45deg);
}
.Button-Top-Show {
  opacity: 1;
}
.Button-Down {
  position: absolute;
  bottom: 5rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  border-right: 3px solid var(--MainColor);
  border-bottom: 3px solid var(--MainColor);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
