.AboutUs-Main {
    width: 100%;
    height: auto;
    /* background: var(--Orange); */
    background:linear-gradient(45deg, var(--MainColor) 0%, var(--SecundaryColor) 100%);
}
.AboutUs {
    position: relative;
    width: 100%;
    min-height: 500px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5rem;
    padding: var(--Padding);
}
.AboutUs-Title {
    font-size: var(--Text);
    color: var(--White);
    letter-spacing: var(--Spacing);
    font-weight: bold;
}
.AboutUs-Text {
    color: var(--White);
    font-size: var(--Description);
}