.Freelance {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  padding: var(--Padding);
  background: var(--White);
}
.Freelance-Tittle {
  font-size: var(--Tittle);
  color: red;
  /* color: var(--White); */
  background: linear-gradient(
    271deg,
    var(--Black) 30%,
    var(--Orange) 50%,
    var(--Black) 70%,
    var(--Orange) 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Freelance-Message {
  font-size: var(--Description);
  color: var(--Black);
}
.Freelance-Contact {
  position: relative;
  font-size: var(--Description);
  font-weight: normal;
  cursor: pointer;
  color: var(--Orange);
}
.Freelance-Contact::after {
  content: "";
  position: absolute;
  top: calc(50% + 0.5px);
  left: 0;
  width: 0;
  height: 1px;
  background: var(--Black);
  transition: 0.5s;
}
.Freelance-Contact:hover.Freelance-Contact::after {
  width: 100%;
}
