.Menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: var(--Orange);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  z-index: 1000;
}
.Menu-Show {
  left: 0;
}
.Menu-Work,
.Menu-Wip,
.Menu-About,
.Menu-Contact {
  font-size: var(--Description);
  cursor: pointer;
  color: var(--White);
}
.Menu-Close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: var(--Icons);
  color: var(--White);
  cursor: pointer;
}
