.Navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6.5rem;
  /* background: var(--Orange); */
  background:linear-gradient(45deg, var(--MainColor) 0%, var(--SecundaryColor) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--Padding);
  transition: 0.5s ease all;
  z-index: 999;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}
.Navbar-Dark {
  background: var(--Orange);
}
.Icon-Home {
  cursor: pointer;
  width: 5rem;
}
.Navbar-Options {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 7rem;
}
.Option-Work,
.Option-Wip,
.Option-About,
.Option-Contact {
  position: relative;
  font-size: var(--Text);
}
.Option-Show-Navbar {
  position: absolute;
  top: calc(50% - 1.5rem);
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: scale(0);
  cursor: pointer;
  transition: 0.5s;
}
.Bar-One,
.Bar-Two,
.Bar-Three {
  position: relative;
  width: 70%;
  height: 2px;
  background: var(--White);
}
.Option-Work::after,
.Option-Wip::after,
.Option-About::after,
.Option-Contact::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -10%;
  width: 0;
  height: 1px;
  background: var(--White);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.Option-Work:hover.Option-Work::after,
.Option-Wip:hover.Option-Wip::after,
.Option-About:hover.Option-About::after,
.Option-Contact:hover.Option-Contact::after {
  width: 120%;
}
