.Team-Main {
    width: 100%;
    height: auto;
    /* background: var(--Orange); */
    background:linear-gradient(45deg, var(--MainColor) 0%, var(--SecundaryColor) 100%);
}
.Team {
    position: relative;
    width: 100%;
    height: 50rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "Team-Tittle Team-Tittle Team-Tittle"
        "Member-1 Member-2 Member-3";
    padding: 4rem 1.5rem;
    gap: 1rem;
}
.Team-Tittle {
    grid-area: Team-Tittle;
    height: 2.5rem;
    font-size: var(--Text);
    color: var(--White);
    letter-spacing: var(--Spacing);
    font-weight: bold;
}
.Team-Member{
    position: relative;
    height: 47.5rem auto;
    background: var(--White);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:"Team-Picture Team-Picture"
    "Team-Rol Team-Networks";
    padding: 3rem 1.5rem;
    gap: 1rem;
    transition: .5s all;
}
.Member-1{
    grid-area: Member-1;
}
.Team-Member:hover{
    position: relative;
    transform: translate(-.7rem, -.7rem);
} 
.Member-2{
    grid-area: Member-2;
}
.Member-3{
    grid-area: Member-3;
}
.Team-Picture{
    grid-area: Team-Picture;
    width: 100%;
    height: 35.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Member-Picture{
    width: 65%;
    height: 65%;
    border-radius: 50%;
}
.Team-Rol{
    grid-area: Team-Rol;
    height: auto;
}
.Member-Name{
    font-size: calc(var(--Text) + .7rem);
    padding-bottom: 1rem;
    color: var(--MainColor);
}
.Member-Rol{
    font-size: var(--Text);
    color: var(--MainColor);
}
.Team-Networks{
    grid-area: Team-Networks;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .2rem
}
.Icon-Network{
    font-size: calc(var(--Icons) - .5rem);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    /* background: var(--Orange); */
    background:linear-gradient(45deg, var(--MainColor) 0%, var(--SecundaryColor) 100%);
    transition: .5s all;
}
.Member-Phone:hover{
    background: linear-gradient(45deg, #1bd741, #32a733);
}
.Member-At:hover{
    background: linear-gradient(45deg, #ffbd07, #a87e1a);
}
.Member-Linkedin:hover{
    background: linear-gradient(45deg, #83b4e3, #0a66c2);
}
.Member-Instagram:hover{
    background: linear-gradient(45deg, #ffc451, #b231ba);
}