.Welcome {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--White);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2.5rem;
    padding: var(--Padding);
    text-align: center;
    overflow: hidden;
}
.Welcome-PremierSolutions, .Welcome-Name, .Welcome-Presentation{
    position: relative;
    animation: Welcome;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    left: -100rem;
    opacity: 0;
}
.Welcome-PremierSolutions {
    font-size: var(--Text);
    color: var(--Black);
    letter-spacing: var(--Spacing);
    text-transform: uppercase;
    font-weight: bold;
}
.Welcome-Name {
    font-size: var(--Tittle);
    text-transform: uppercase;
    color: var(--MainColor);
    animation-delay: .33s;
}
.Welcome-Presentation {
    font-size: var(--Text);
    letter-spacing: var(--Spacing);
    color: var(--Black);
    animation-delay: .66s;
}
@keyframes Welcome {
    100%{
        left: 0;
        opacity: 1;
    }
}
.Welcome span{
    opacity: 0;
    animation: Span 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
@keyframes Span {
    100%{
        opacity: .3;
    }
}
.Welcome span:nth-child(1), .Welcome span:nth-child(2), .Welcome span:nth-child(3){
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 10rem 0 0;
}
.Welcome span:nth-child(4), .Welcome span:nth-child(5), .Welcome span:nth-child(6){
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10rem 0 0 0;
}
.Welcome span:nth-child(1){
    width: 35%;
    height: 30%;
    border-top: 2.5rem solid var(--MainColor);
    border-right: 2.5rem solid var(--MainColor);
}
.Welcome span:nth-child(2){
    width: 10%;
    height: 45%;
    border-top: 2.5rem solid var(--SecundaryColor);
    border-right: 2.5rem solid var(--SecundaryColor);
}
.Welcome span:nth-child(3){
    width: 20%;
    height: 90%;
    border-top: 2.5rem solid var(--Gray);
    border-right: 2.5rem solid var(--Gray);
}
.Welcome span:nth-child(4){
    width: 35%;
    height: 10%;
    border-top: 2.5rem solid var(--MainColor);
    border-left: 2.5rem solid var(--MainColor);
}
.Welcome span:nth-child(5){
    width: 10%;
    height: 70%;
    border-top: 2.5rem solid var(--SecundaryColor);
    border-left: 2.5rem solid var(--SecundaryColor);
}
.Welcome span:nth-child(6){
    width: 25%;
    height: 35%;
    border-top: 2.5rem solid var(--Gray);
    border-left: 2.5rem solid var(--Gray);
}